.title {
    text-align: center;
}
.form-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, .5);
    box-sizing: border-box;
    padding: 3rem;
}
.select {
    width: 100%;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
}